{% extends 'base.html' %}

{% block content %}
<div class="col-sm-12">
<h2>{{ category.name }}</h2>
    <hr>
{% for product in products_of_category %}
<div class="col-sm-4">
    <img src="{{ product.image.url }}" style="width: 80%; height: auto">
<h4 class="text-left">{{ product.title }}</h4>
<p>Price: <strong> ${{ product.price }}</strong></p>
  <a class="pull-left" href="{% url "add_to_cart" product_slug=product.slug %}"><button class="btn btn-danger">Add to cart</button></a>
</div>


{% endfor %}
</div>

{% endblock content %}