{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h3 class="text-center">Your cart</h3>
    <br>
    <table class="table">
        <tr>
            <td class="text-center">Art Object</td>
            <td class="text-center">Price/p.month</td>
            <td class="text-center">Period/Month</td>
            <td class="text-center">Price</td>
            <td class="text-center"></td>
        </tr>
        {% for item in cart.items.all %}
            <tr class="cart-item-{{ item.product.id }}" item="{{ item.product.title }}">

                <td class="text-center"><strong>{{ item.product.title }}</strong><img src="{{ item.product.cover.url }}"
                                                                                      alt=""
                                                                                      style="width: 50px; height: auto">
                </td>
                <td class="text-center">€{{ item.product.price }}</td>
                <td class="text-center">
                    <form action="" method="GET">
                        <input id="rent_period" type="number" name="rent_length" class="item_rent_length"
                               data-id="{{ item.id }}" value="{{ item.rent_length }}" step="1" min="3"
                               max="12"
                               style="width: 44px"> <a>
                    </a></form>
                </td>
                <td class="text-center" id="cart-item-total-{{ item.id }}">€{{ item.item_total }}</td>
                <td class="text-center"><a class="remove_from_cart" data-slug="{{ item.product.slug }}"
                                           data-id="{{ item.product.id }}">
                    <button class="btn btn-danger">Remove from cart</button>
                </a></td>
            </tr>
            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script>
                datavalue = $('.item_rent_length').val()
                console.log(datavalue)

            </script>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center" id="cart-total-price">Total Price: €{{ cart.cart_total }}</td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center" id="cart-btc-total-price">Total Price in BTC: {{ cart.btc_cart_total }}</td>
            <td></td>

        </tr>

    </table>

    <table class="table">

        <tr>
            <div>
                <td class="text-center">Your BTC account</td>
                <td class="text-center">Your BTC balance</td>
                <td class="text-center">Exchange rate</td>
            </div>
        </tr>
        <br>
        <tr>
            <div>
                <td class="text-center">{{ user.crypto_wallet }}</td>
                <td class="text-center">BTC: {{ btc_balance }}</td>
                <td class="text-center">1€ = BTC: {{ eur_btc_rate }}</td>
            </div>
        </tr>

    </table>
    {% if cart_is_not_empty %}
        <div id="order-button" style="visibility: visible">
        <a class="pull-right" href={% url "make_order" %}>
            <button class="btn btn-success">Make your order</button>
        </a>
        </div>
    {% endif %}

{% if not user_btc_balance_enough %}
    <script>
        $('#order-button').css('visibility', 'hidden')
    </script>
{% endif %}




    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
        $(document).ready(function () {
            $('.remove_from_cart').on('click', function (e) {
                e.preventDefault()
                product_slug = $(this).attr('data-slug')
                item_product_id = $(this).attr('data-id')
                data = {
                    product_slug: product_slug,
                }
                console.log(product_slug)
                $.ajax({
                    type: 'GET',
                    url: '{% url "remove_from_cart" %}',
                    data: data,
                    success: function (data) {
                        console.log(data)
                        $("#cart_count").html(data.cart_total_items)
                        $('.cart-item-' + item_product_id).css('display', 'none')
                        $('#cart-total-price').html('Total Price: $' + parseFloat(data.cart_total_price).toFixed(2))
                        $('#cart-btc-total-price').html('Total Price in BTC:' + parseFloat(data.cart_btc_total_price).toFixed(8))
                        if (data.user_btc_balance_enough) {
                            $('#order-button').css('visibility', 'visible');
                        }
                        if (!data.user_btc_balance_enough) {
                            $('#order-button').css('visibility', 'hidden');
                        }
                        if (data.cart_total_items < 1) {
                            $('#order-button').css('visibility', 'hidden');
                        }
                    }
                })
            })
        })

    </script>


    <script>
        $(document).ready(function () {

            $('.item_rent_length').on('click', function () {
                period = $(this).val()
                item_id = $(this).attr('data-id')
                data = {
                    period: period,
                    item_id: item_id
                }

                $.ajax({
                        type: "GET",
                        url: '{%  url "change_rent_period" %}',
                        data: data,
                        success: function (data) {

                            $('#cart-item-total-' + item_id).html('€' + parseFloat(data.item_total).toFixed(2))
                            $('#cart-total-price').html('Total Price: €' + parseFloat(data.cart_total_price).toFixed(2))
                            $('#cart-btc-total-price').html('Total Price in BTC:' + parseFloat(data.cart_btc_total_price).toFixed(8))
                            if (data.user_btc_balance_enough) {
                                $('#order-button').css('visibility', 'visible');
                            } else if (!data.user_btc_balance_enough) {
                                $('#order-button').css('visibility', 'hidden');
                            }
                        }
                    }
                )
            })
        })
    </script>
{% endblock %}