{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center">Your cart</h3>
    <br>
    <table class="table">
        <tr>
            <td class="text-center">Art Object</td>
            <td class="text-center">Period/Month</td>
            <td class="text-center">Price/p.month</td>
            <td class="text-center"> </td>
        </tr>
        {% for item in cart.items.all %}
            <tr>

                <td class="text-center"><strong>{{ item.product.title }}</strong><img src="{{ item.product.cover.url }}" alt="" style="width: 50px; height: auto" ></td>
                <td class="text-center">{{ item.qty }}</td>
                <td class="text-center">${{ item.item_total }}</td>
                <td class="text-center"><a href='{% url "remove_from_cart" product_slug=item.product.slug %}'><button class="btn btn-danger">Remove from cart</button></a></td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}