{% extends 'base.html' %}

{% block content %}
<div class="col-sm-12">
<h2>{{ category.name }}</h2>
    <hr>
{% for product in products_of_category %}
<div class="col-sm-4">
    <img src="{{ product.cover.url }}" style="width: 80%; height: auto">
<h4 class="pull-left">{{ product.title }}</h4>
    <p>{{ product.description }}</p>
<p class="pull-right">Price: <strong> ${{ product.price }} /p.month</strong></p>
  <a class="pull-left" href="#"><button class="btn btn-danger">Add to cart</button></a>
</div>


{% endfor %}
</div>

{% endblock content %}