{% extends 'base.html' %}

{% block content %}

    {% block content_header %}
        <h2>Art objects currently in rent</h2>
    {% endblock %}

    <table class="table mb-0">
        <thead>
        <tr>
            <th>Cover</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price/per month</th>
            {% if user.is_employee %}
                <th>Renting Person</th>
            {% endif %}
            {% if user.is_student %}
                <th>Owner</th>
            {% endif %}


            <th>Rent end date</th>
            <th>Payed out</th>
            {% if not user.is_student %}
                <th>Currently in use</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for art in products %}
            <tr>
                <td>
                    {% if art.cover %}
                        <img src="{{ art.cover.url }}" alt="{{ art.title }}" style="width:100px;">
                    {% else %}
                        <span class="text-muted">No picture of art object is available</span>
                    {% endif %}
                </td>
                <td>{{ art.title }}</td>
                <td>{{ art.description }}</td>
                <td>€{{ art.price }}/p.m.</td>
                {% if user.is_employee %}
                    <td>{{ art.temp_owner.email }}</td>
                {% endif %}
                {% if user.is_student %}
                    <td>{{ art.owner.email }}</td>
                {% endif %}
                <td>{{ art.rent_end_date }}</td>
                <td>{{ art.payment_successful }}</td>
                {% if not user.is_student %}
                    <td>
                        <form method="post" action="{% url 'return_art' art.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Item is returned <br> from renting
                                person
                            </button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
