{% extends 'base.html' %}

{% block content %}

    {% block content_header %}
        <h2>Art objects currently in rent</h2>
        {#        {% if not user.is_student %}#}
        {#            <p>#}
        {#                <a href="{% url 'class_upload_art' %}" class="btn btn-primary">Add new Art Item</a>#}
        {#            </p>#}
        {#        {% endif %}#}
    {% endblock %}

    <table class="table mb-0">
        <thead>
        <tr>
            <th>Cover</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price/per month</th>
            <th>Renting Person</th>
            <th>Currently in use</th>
        </tr>
        </thead>
        <tbody>
        {% for art in products %}
            <tr>
                <td>
                    {% if art.cover %}
                        <img src="{{ art.cover.url }}" alt="{{ art.title }}" style="width:100px;">
                    {% else %}
                        <span class="text-muted">No picture of art object is available</span>
                    {% endif %}
                </td>
                <td>{{ art.title }}</td>
                <td>{{ art.description }}</td>
                <td>€{{ art.price }}/p.m.</td>
                <td>{{ art.temp_owner }}</td>
                {% if not user.is_student %}
                    <td>
                        <form method="post" action="{% url 'delete_art' art.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Item is returned <br> from renting person</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
