{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'js/jquery.js' %}"></script>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Serg's Rent Shop</p>
                <div class="list-group">
                    {% for category in  categories %}
                        <a href={{ category.get_absolute_url }} class="list-group-item">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-9">
                {#                jQuery.js must be first, bootstrap.js - second. (in the end of this html file)#}
                {#                otherwise carousel will not work!!!#}
                <div class="row carousel-holder">
                    <div class="col-xl-2">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for product in products %}
                                    {% if forloop.first %}
                                        <div class="item active product-item-{{ product.id }}">
                                        <a href={{ product.get_absolute_url }}>
                                            <img class="slide-image" src="{{ product.cover.url }}"
                                                 alt="" style="width: auto; height: 400px; margin: 0 auto "></a>
                                            <div class="align-content-center" style="width: available">
                                                <p class="text-center">{{ product.title }}</p>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="item product-item-{{ product.id }}">
                                            <a href={{ product.get_absolute_url }}><img class="slide-image" src="{{ product.cover.url }}"
                                                 alt="" style="width: auto; height: 400px; margin: 0 auto "></a>
                                            <p class="text-center">{{ product.title }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"
                               style="background: transparent">
                                <span class="glyphicon glyphicon-chevron-left" style="color: black"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"
                               style="background: transparent">
                                <span class="glyphicon glyphicon-chevron-right" style="color: black"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-3">
                            <div class="product-item-{{ product.id }}">
                                <div class="thumbnail">
                                    <a href={{ product.get_absolute_url }}><img src="{{ product.cover.url }}" alt="" style="width: 200px; height: auto"></a>
                                    <div class="caption" style="height: auto">

                                        <h4 class="text-center"><a href={{ product.get_absolute_url }}>{{ product.title }} {{ product.id }}</a></h4>
                                        <h4 class="text-center">€{{ product.price }}/p.mounth</h4>

                                        <a class="pull-right">
                                            <button class="btn btn-success addtocart" data-slug="{{ product.slug }}" data-id="{{ product.id }}">Add to cart</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <h2>Hello Guest!<br> Welcome to Serg's Rent Shop <br> To go ahead, please log in:</h2>
        <a href="{% url 'login' %}">Login</a>

    {% endif %}

    <script>
        $(document).ready(function () {
            $('.addtocart').on('click', function (e) {
                e.preventDefault()
                product_slug = $(this).attr('data-slug')
                item_product_id = $(this).attr('data-id')
                data = {product_slug: product_slug}
                console.log(product_slug)
                $.ajax({
                    type: 'GET',
                    url: '{% url "add_to_cart" %}',
                    data: data,
                    success: function (data) {
                        console.log(item_product_id)
                        $('.product-item-' + item_product_id).css('display', 'none')
                        $("#cart_count").html(data.cart_total)
                        location.reload();
                    }
                })
            })
        })
    </script>

{#    script src="https://code.jquery.com/jquery-3.3.1.js"></script>#}
{#    <#}
{#    script >#}
{#    $(document).ready(function () {#}
{#        $('.remove_from_cart').on('click', function (e) {#}
{#            e.preventDefault()#}
{#            product_slug = $(this).attr('data-slug')#}
{#            item_product_id = $(this).attr('data-id')#}
{#            data = {#}
{#                product_slug: product_slug,#}
{#            }#}
{#            console.log(product_slug)#}
{#            $.ajax({#}
{#                type: 'GET',#}
{#                url: '{% url "remove_from_cart" %}',#}
{#                data: data,#}
{#                success: function (data) {#}
{#                    console.log(data)#}
{#                    $("#cart_count").html(data.cart_total)#}
{#                    $('.cart-item-' + item_product_id).css('display', 'none')#}
{#                    $('#cart-total-price').html('Total Price: $' + parseFloat(data.cart_total_price).toFixed(2))#}
{#                }#}
{#            })#}
{#        })#}
{#    })#}
{##}
{#    </script>#}


{% endblock content %}
