{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3 class="text-center">Your Order Details</h3>
    <br>
    <table class="table">
        <tr>
            <th class="text-center">Art Object</th>
            <th class="text-center">Price/p.month</th>
            <th class="text-center">Period/Month</th>
            <th class="text-center">Price in €</th>
            <th class="text-center">Price in Bitcoins</th>
        </tr>
        {% for item in cart.items.all %}
            <tr class="cart-item-{{ item.product.id }}" item="{{ item.product.title }}">
                <td class="text-center"><strong>{{ item.product.title }}</strong><img src="{{ item.product.cover.url }}"
                                                                                      alt=""
                                                                                      style="width: 50px; height: auto"></td>
                <td class="text-center">€{{ item.product.price }}</td>
                <td class="text-center">{{ item.rent_length }}</td>
                <td class="text-center" id="cart-item-total-{{ item.id }}">€{{ item.item_total }}</td>
                <td class="text-center">BTC: {{ item.btc_item_total }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center" id="cart-total-price">Total Price: €{{ cart.cart_total }}</td>
            <td class="text-center">Total Price in BTC: {{ cart.btc_cart_total }}</td>
        </tr>
    </table>
    <div>
        <a class="pull-right" href={% url "complete_order"%}>
            <button class="btn btn-success">Pay / complete your order</button>
        </a>
    </div>
{% endblock content %}