{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h3 class="text-center">Your Order Details</h3>
    <br>
    <table class="table">
        <tr>
            <td class="text-center">Art Object</td>
            <td class="text-center">Price/p.month</td>
            <td class="text-center">Period/Month</td>
            <td class="text-center">Price in $$</td>
            <td class="text-center">Price in Bitcoins</td>
        </tr>
        {% for item in cart.items.all %}
            <tr class="cart-item-{{ item.product.id }}" item="{{ item.product.title }}">

                <td class="text-center"><strong>{{ item.product.title }}</strong><img src="{{ item.product.cover.url }}"
                                                                                      alt=""
                                                                                      style="width: 50px; height: auto">
                </td>
                <td class="text-center">${{ item.product.price }}</td>
                <td class="text-center">{{ item.rent_length }}</td>
{#                    <form action="" method="GET">#}
{#                        <input id="rent_period" type="number" name="rent_length" class="item_rent_length"#}
{#                               data-id="{{ item.id }}" value="{{ item.rent_length }}" step="1" min="3"#}
{#                               max="12"#}
{#                               style="width: 44px"> <a>#}
{#                    </a></form>#}
{#                </td>#}
                <td class="text-center" id="cart-item-total-{{ item.id }}">${{ item.item_total }}</td>
                <td class="text-center"><a class="remove_from_cart" data-slug="{{ item.product.slug }}"
                                           data-id="{{ item.product.id }}">
                    <button class="btn btn-danger">Remove from cart</button>
                </a></td>
            </tr>
            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script>
                datavalue = $('.item_rent_length').val()
                console.log(datavalue)

            </script>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center" id="cart-total-price">Total Price: ${{ cart.cart_total }}</td>
            <td></td>

        </tr>

    </table>

    <div>
        <a class="pull-right" href={% url "make_order" %}>
            <button class="btn btn-success">Pay / complete your order</button>
        </a>
    </div>


{% endblock content %}